# Intellij Zeugs ausschliessen
.idea/

.sass-cache/
node_modules/

# alles im dist Ordner ausschliessen
dist/

# alles im src/assets/scripts Ordner ausschliessen
src/assets/scripts/

# alle css Dateien im src/assets/css ausschliessen
src/assets/css/

# die config.js Datei in Root Ordner ausschliessen
config.js
