.contact__picture{

    .contact__picture__img{
        width: 100%;
    }
}

.address{
    ul {
        margin: 2*$basicHeight 0;
    }
}

.phone-number{
    color: $standardTextColor;
    text-decoration: none;
}


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
   
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
  
}