.cv-title{
    @include cvTitleTextFont();
    margin-bottom: 2*$basicHeight;
}

.cv-item{
    @include standardTextFont();
    display: flex;
    margin-bottom: $basicHeight;

    .cv-item__date{
        flex: 1 1 15%;
    }

    .cv-item__text{
        flex: 4 4 85%;
    }
}

.cv-item:last-of-type{
    margin-bottom: 3*$basicHeight;
}


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
   
}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
   
}