nav{
  grid-area: 2 / 1 / 3 / 2;
  background-color: $navBackgroundColor;

  ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1.5*$basicHeight 0 2*$basicHeight 0;

    li{
      list-style: none;

      a{
        color: $standardTextColor;
        text-decoration: none;
        padding: 0.5*$basicHeight 0.75*$basicWidth;
      }

      a.js-isSelected{
        @include navigationSelectedTextFont();
      }
    }

    li:first-of-type{
      padding: 0 0 0 16px;
    }

  }
}


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
  nav{
    ul{
      li{
        a{
          padding: 0.5*$basicHeight 1.5*$basicWidth;
        }
      }

      li:first-of-type{
        padding: 0 0 0 20px;
      }
    }
  }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

  nav{
    grid-area: 2 / 2 / 3 / 3;
  
    ul{
      display: flex;
      justify-content: flex-end;
      margin: 4.5*$basicHeight 0 0 0;

      li{
        padding: $basicHeight 0.5vw; //1.5*$basicWidth;

        a{
          padding: 0.5*$basicHeight $basicWidth;
        }
  
        a:hover{
          color: lighten($standardTextColor, 75%);
        }
      }

      li:first-of-type{
        padding: $basicHeight 0.5vw $basicHeight $basicWidth;
      }

      li:last-of-type{
        padding: $basicHeight 2.5vw $basicHeight 0.5vw;
      }
    }
  }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat

  nav{  
    ul{
      li{
        padding: $basicHeight 2.5*$basicWidth;
      }

      li:first-of-type{
        padding: $basicHeight 2.5*$basicWidth;
      }

      li:last-of-type{
        padding: $basicHeight 47px $basicHeight 2.5*$basicWidth;
      }
    }
  }
}


