// MIXINS
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}
// TRANSFORM
@mixin transform($params) {
	@include css3-prefix('transform', $params);
}

// TRANSITION
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
	@include css3-prefix('transition', $what $length $easing);
}

// ANIMATIONS stuff
$slide: all, 0.3s, cubic-bezier(.55,0,.1,1);


.overlay{
    display: none;
 }


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...

    .overlay{
        display: none;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .js-openOverlay{
        display: block;
    }

    .overlay-content{
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay-close-wrapper{
        display: none;
    }

    .image-carousel-wrapper {
		max-width: 100%;
	}

    .pics-carousel-item{
        max-width: 100%;
        height: auto;
    }

    .slick-slide img {
        margin: 0 auto;
        max-width: 55%;  //50%;
        height: auto;
	}


    .slick-prev:before, .slick-next:before {
		color: black
	}

    .slick-arrow {
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			margin-top: -21px;
			width: 6*$basicWidth;
			height: 6*$basicHeight;
            border-top: 2px solid #FFFFFF;
            border-left: 2px solid #FFFFFF;
            left: 16px;
		}

		&:after {
			display: none;
		}

		&.slick-prev {
			left: $basicWidth;
            z-index: 1;

            &:before {
                @include transform(rotate(-45 + deg));
            }
		}

		&.slick-next {
            right: 8.5*$basicWidth;
            z-index: 1;
			
            &:before {
                @include transform(rotate(135 + deg));
            }
		}
	}

}



/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

    .overlay{
        display: none;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        overflow: scroll;
    }

    .overlay-content{
        display: block;
        width: $imageSliderWidth;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
    }

    .overlay-close-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        max-width: 100%; //70%;
    }

    .overlay-close-button {
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        font-size: 3*$textSize;
        color: rgb(255,255,255);
    }

    .overlay-close-button:hover {
        background-color: darkgray;
    }

    .js-openOverlay{
        display: block;
    }

    .image-carousel-wrapper {
		max-width: $imageSliderWidth;
	}

    .pics-carousel-item{
        max-width: 100%;
        height: auto;
    }

    .slick-slide img {
        margin: 0 auto;
        width: 100%; //70%;
        max-width: 100%;
        height: auto;
	}

    .slick-prev:before, .slick-next:before {
		color: black
	}

    .slick-arrow {
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: 50%;
			margin-top: -21px;
			@include transition($slide);
			width: 6*$basicWidth;
			height: 6*$basicHeight;
            border-top: 2px solid #FFFFFF;
            border-left: 2px solid #FFFFFF;
            left: 16px;
		}

		&:after {
			display: none;
		}

		&.slick-prev {
			left: -9*$basicWidth;

            &:before {
                @include transform(rotate(-45 + deg));
            }

			&:hover {
				&:before {
                    border-top: 4px solid #FFFFFF;
                    border-left: 4px solid #FFFFFF;
				}
			}
		}

		&.slick-next {
            right: -$basicWidth;
			
            &:before {
                @include transform(rotate(135 + deg));
            }

			&:hover {
				&:before {
                    border-top: 4px solid #FFFFFF;
                    border-left: 4px solid #FFFFFF;
				}
			}
		}
	}
}