<nav>

    <div class="gridx12-header">           
        <div class="gridx12__one--col1of1">
         
            <ul>
                <li class="nav-item__portfolio"><a href="index.html">Werke</a></li>
                <li class="nav-item__aktuell"><a href="aktuell.html">Aktuell</a></li>
                <li class="nav-item__cv"><a href="cv.html">CV</a></li>
                <li class="nav-item__kontakt"><a href="kontakt.html">Kontakt</a></li>
            </ul>

        </div>
      </div>

   
</nav>
