<!doctype html>
<html lang="de">

<!-- inject:htmlHead -->
<!-- endinject -->

    <body>
        <div class="wrapper">
            <div class="side-space--left"></div>
            
                <!-- inject:htmlHeader -->
                <!-- endinject -->
            
                <!-- inject:htmlNavigation -->
                <!-- endinject -->

                <main>

                </main>

                <!-- inject:htmlFooter -->
                <!-- endinject -->
            <div class="side-space--right"></div>
        </div>
    </body>
</html>


