<!doctype html>
<html lang="de">

<!-- inject:htmlHead -->
<!-- endinject -->

    <body>
        <div class="wrapper">
            <div class="side-space--left"></div>

                <div class="stickyHeader-wrapper">
                    <!-- inject:htmlHeader -->
                    <!-- endinject -->
                
                    <!-- inject:htmlNavigation -->
                    <!-- endinject -->
                </div>

                <main>

                </main>

                <!-- inject:htmlFooter -->
                <!-- endinject -->
            <div class="side-space--right"></div>
        </div>
    </body>
</html>


