
/*** media breakpoints ***/
$breakpoint-large: 1050px;
$breakpoint-medium: 440px;
$breakpoint-small: 376px;


/*** fonts ***/
$titleFont: "Alegreya Sans SC", "Arial", "sans-serif";
$navigationFont: "Alegreya Sans", "Arial", "sans-serif";
$standardTextFont: "Open Sans", "Arial", "sans-serif";

$titleFontAlegreyaSansSc: "Alegreya Sans SC", sans-serif;
$titleFontAlegreyaSans: "Alegreya Sans", sans-serif;

/*** colors ***/
$standardTextColor: #000000;
$standardBackgroundColor: #FFFFFF;
$titleBackgroundColor: $standardBackgroundColor;
$navBackgroundColor: $standardBackgroundColor;


/*** sizes ***/
$maxWidth: 1600px;
$standardFontSize: 16px;
$basicWidth: 8px;
$basicHeight: 8px;
$textSize: 1rem;
$sideTitleSize: 1.5rem;
$titleSize: 3.5rem;
$navigationSize: 1.75rem;
$heightHeader: 7*$basicHeight;
$heightNavigation: 7*$basicHeight;

@mixin standardTextFont(){
	color: $standardTextColor;
	font-family: $standardTextFont;
	font-size: $textSize;
	font-weight: normal;
}

@mixin cvTitleTextFont(){
	color: $standardTextColor;
	font-family: $standardTextFont;
	font-size: $textSize;
	font-weight: bold;
}

@mixin imageCaptionTextFont(){
	color: lighten($standardTextColor, 50%);
	font-family: $standardTextFont;
	font-size: $textSize;
	font-weight: normal;
}

@mixin pageTitleTextFont(){
	color: $standardTextColor;
	font-family: $standardTextFont;
	font-size: $sideTitleSize;
	font-weight: bold;
}

@mixin titleTextFont(){
	color: $standardTextColor;
	font-family: $titleFont;
	font-size: $titleSize;
	font-weight: 100;
}

@mixin navigationTextFont(){
	color: $standardTextColor;
	font-family: $navigationFont;
	font-size: $navigationSize;
	font-weight: 300;
}

@mixin navigationSelectedTextFont(){
	color: $standardTextColor;
	font-family: $navigationFont;
	font-size: 1.2*$navigationSize;
	font-weight: 400;
}
