@charset "UTF-8";
/**
 * Base
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** media breakpoints ***/
/*** fonts ***/
/*** colors ***/
/*** sizes ***/
/**
 * Components
 */
nav {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #ffff96; }
  nav ul {
    display: flex;
    justify-content: center;
    height: 48px;
    line-height: 48px; }
    nav ul li {
      list-style: none;
      padding: 5px; }
      nav ul li a {
        color: #000000;
        text-decoration: none; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  nav {
    grid-area: 2 / 2 / 3 / 3; }
    nav li a:hover {
      color: #bfbfbf; } }

.portfolio-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around; }
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center; }
    .portfolio-wrapper .portfolio-item a img {
      width: 90%; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 50%; } }

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 33%;
    margin-top: 16px;
    margin-bottom: 16px; }
    .portfolio-wrapper .portfolio-item a img {
      width: 90%; } }

/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Ende Border Box Trick*/
html {
  font-size: 16px; }

body {
  color: #000000;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem; }

.wrapper {
  display: grid;
  grid: [row1] "Header" 48px [row1-end] [row2] "Nav" 48px [row2-end] [row3] "Main" auto [row3-end] [row4] "Footer" 50px [row4-end]/100%;
  background-color: #ffff96; }
  .wrapper header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #c8c8c8; }
    .wrapper header .title {
      color: #000000;
      font-family: "Helvetica", "Arial", "sans-serif";
      font-size: 1.75rem;
      font-weight: bold;
      height: 48px;
      line-height: 48px;
      text-align: center; }
  .wrapper main {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #c8ffc8; }
  .wrapper footer {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #c8c8c8; }
  .wrapper .side-space--left, .wrapper .side-space--right {
    display: none; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .wrapper {
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right" 50px [row2] "SideSpace-Left Nav SideSpace-Right" 50px [row3] "SideSpace-Left Main SideSpace-Right" auto [row4] "SideSpace-Left Footer SideSpace-Right" 50px/auto 1200px auto;
    background-color: #ffff96; }
    .wrapper header {
      grid-area: 1 / 2 / 2 / 3; }
    .wrapper .side-space--left {
      grid-area: 1 / 1 / 5 / 2; }
    .wrapper .side-space--right {
      grid-area: 1 / 3 / 5 / 4; }
    .wrapper main {
      grid-area: 3 / 2 / 4 / 3; }
    .wrapper footer {
      grid-area: 4 / 2 / 5 / 3; } }
