@charset "UTF-8";
/**
 * Base
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** media breakpoints ***/
/*** fonts ***/
/*** colors ***/
/*** sizes ***/
.gridx12 {
  display: grid;
  grid: [Zeile1] "row1 row1 row1 row1 row1 row1 row1 row1 row1 row1 row1 row1" auto [Zeile1Ende]/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin: 8px 8px; }

.gridx12__threeToOne--col1of2, .gridx12__oneToOne--col1of2 {
  grid-area: 1 / 1 / 2 / 13; }

.gridx12__threeToOne--col2of2, .gridx12__oneToOne--col2of2 {
  grid-area: 2 / 1 / 3 / 13; }

.gridx12__oneCol--col1of1 {
  grid-area: 1 / 1 / 2 / 13; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {
  .gridx12__threeToOne--col1of2, .gridx12__oneToOne--col1of2 {
    grid-area: 1 / 1 / 2 / 7; }
  .gridx12__threeToOne--col2of2, .gridx12__oneToOne--col2of2 {
    grid-area: 1 / 7 / 2 / 13; } }

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .gridx12 {
    margin: 16px 16px; }
  .gridx12__threeToOne--col1of2 {
    grid-area: 1 / 1 / 2 / 10; }
  .gridx12__threeToOne--col2of2 {
    grid-area: 1 / 10 / 2 / 13; }
  .gridx12__oneToOne--col1of2 {
    grid-area: 1 / 1 / 2 / 7; }
  .gridx12__oneToOne--col2of2 {
    grid-area: 1 / 7 / 2 / 13; } }

/**
 * Components
 */
nav {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #FFFFFF; }
  nav ul {
    display: flex;
    justify-content: center;
    height: 48px;
    line-height: 48px; }
    nav ul li {
      list-style: none;
      padding: 5px; }
      nav ul li a {
        color: #000000;
        text-decoration: none; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  nav {
    grid-area: 2 / 2 / 3 / 3; }
    nav li a:hover {
      color: #bfbfbf; } }

.portfolio-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around; }
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center; }
    .portfolio-wrapper .portfolio-item a img {
      width: 90%; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: 440px) {
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 50%; } }

/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .portfolio-wrapper .portfolio-item {
    flex: 1 1 33%;
    margin-top: 16px;
    margin-bottom: 16px; } }

.contact__picture .contact__picture__img {
  width: 100%; }

.address ul {
  margin: 16px 8px; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .address ul {
    margin: 16px 16px; } }

.cv-title {
  color: #000000;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 16px; }

.cv-item {
  color: #000000;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  margin-bottom: 8px; }
  .cv-item .cv-item__date {
    flex: 1 1 15%; }
  .cv-item .cv-item__text {
    flex: 4 4 85%; }

.cv-item:last-of-type {
  margin-bottom: 24px; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
.imageWithCaption {
  margin-bottom: 8px; }

.imageWithCaption a {
  color: gray;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none; }

.imageWithCaption__img {
  width: 100%; }

.imageWithCaption__caption {
  display: block;
  margin-bottom: 8px; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .imageWithCaption {
    margin-bottom: 8px; }
  .imageWithCaption__img {
    position: relative;
    z-index: 1; }
  .imageWithCaption__caption {
    position: relative;
    bottom: 50px;
    z-index: 0; }
  .imageWithCaption a:hover .imageWithCaption__caption {
    bottom: 0px;
    transition: bottom 0.5s ease-in-out 1ms; } }

/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Ende Border Box Trick*/
html {
  font-size: 16px; }

body {
  color: #000000;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25rem; }

.wrapper {
  display: grid;
  grid: [row1] "Header" 48px [row1-end] [row2] "Nav" 48px [row2-end] [row3] "Main" auto [row3-end] [row4] "Footer" 50px [row4-end]/100%;
  background-color: #FFFFFF;
  margin-top: 8px; }
  .wrapper header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #FFFFFF; }
    .wrapper header .title {
      color: #000000;
      font-family: "Helvetica", "Arial", "sans-serif";
      font-size: 2.25rem;
      font-weight: bold;
      height: 48px;
      line-height: 48px;
      text-align: center; }
  .wrapper main {
    grid-area: 3 / 1 / 4 / 2; }
    .wrapper main .page-title {
      color: #000000;
      font-family: "Open Sans", "Arial", "sans-serif";
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0 8px; }
    .wrapper main .page-text {
      color: #000000;
      font-family: "Open Sans", "Arial", "sans-serif";
      font-size: 1rem;
      font-weight: normal;
      margin: 0 8px; }
  .wrapper footer {
    grid-area: 4 / 1 / 5 / 2;
    background-color: #FFFFFF; }
  .wrapper .side-space--left, .wrapper .side-space--right {
    display: none; }

/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: 740px) {
  .wrapper {
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right" 50px [row2] "SideSpace-Left Nav SideSpace-Right" 50px [row3] "SideSpace-Left Main SideSpace-Right" auto [row4] "SideSpace-Left Footer SideSpace-Right" 50px/auto 1200px auto;
    margin-top: 16px; }
    .wrapper header {
      grid-area: 1 / 2 / 2 / 3; }
    .wrapper .side-space--left {
      grid-area: 1 / 1 / 5 / 2; }
    .wrapper .side-space--right {
      grid-area: 1 / 3 / 5 / 4; }
    .wrapper main {
      grid-area: 3 / 2 / 4 / 3; }
      .wrapper main .page-title, .wrapper main .page-text {
        margin: 0 16px; }
    .wrapper footer {
      grid-area: 4 / 2 / 5 / 3; } }
