/**
 * External Components
 */
 @import "../../node_modules/slick-carousel/slick/slick.scss";
 @import "../../node_modules/slick-carousel/slick/slick-theme.scss";

/**
 * Base
 */
@import "base/reset";
@import "base/specifications";
@import "base/grids";

/**
 * Components
 */
@import "components/navigation";
@import "components/portfolio";
@import "components/contact";
@import "components/cv";
@import "components/imageCaption";
@import "components/overlay";


/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/


html{
	font-size: $standardFontSize;
}


body{
  //@include standardTextFont();
	@include standardTextFontTEST();
	line-height: 1.25rem;
}


.wrapper{
  display: grid;
  grid: [row1] "Header"   $heightHeader [row1-end]
        [row2] "Nav"      $heightNavigation [row2-end]
        [row3] "Main"     auto [row3-end]
        [row4] "Footer"   50px [row4-end]
                    / 100%;
  background-color: $standardBackgroundColor;
  margin-top: $basicHeight;

  .stickyHeader-wrapper{
    grid-area: 1 / 1 / 3 / 2;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  header{
    background-color: $titleBackgroundColor;

    .title{
      @include titleTextFont();
      height: $heightHeader;
      line-height: $heightHeader;
      text-align: center;
      margin-top: $basicHeight;
    }
  }

  nav{
    background-color: $titleBackgroundColor;
    @include navigationTextFont();
  }

  main{
    grid-area: 3 / 1 / 4 / 2;
    
    .page-item{
      margin-bottom: 2*$basicHeight;
    }

    .page-title{
      @include titleTextFontTEST();
      margin: 0;
    }

    .page-text{
      @include standardTextFontTEST();
      margin: 0;
    }
  }

  footer{
    grid-area: 4 / 1 / 5 / 2;
    background-color: $titleBackgroundColor;
  }

  .side-space--left, .side-space--right{
    display: none;
  }
}


/* ************************************************************* */
/* *********** ab hier für mobile querformat ******************* */
@media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
  .wrapper{
    header{
      .title{
        font-size: 3.5rem;
      }
    }
  }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

  .wrapper{
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right"  $heightHeader
                  [row2] "SideSpace-Left Nav SideSpace-Right"      $heightNavigation
                  [row3] "SideSpace-Left Main SideSpace-Right"     auto
                  [row4] "SideSpace-Left Footer SideSpace-Right"   50px
                      / auto 90% auto;
                      
    margin-top: $basicHeight;

    .stickyHeader-wrapper{
      grid-area: 1 / 2 / 3 / 3;
    }

    header{
     
      .title{
        height: unset;
        line-height: unset;
        text-align: end;
        font-size: 4.5rem;
        margin-top: 5*$basicHeight;
      }
    }

    .side-space--left{
      grid-area: 1 / 1 / 5 / 2;
      display: unset;
    }

    .side-space--right{
      grid-area: 1 / 3 / 5 / 4;
      display: unset;
    }

    main{
      margin-top: 5*$basicHeight;
      grid-area: 3 / 2 / 4 / 3;

      .page-item{
        margin-bottom: 4*$basicHeight;
      }
    }

    footer{
      grid-area: 4 / 2 / 5 / 3;
    }

  }
}


/* *************************************************** */
/* *********** ab hier für desktop ******************* */
@media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat

  .wrapper{
    display: grid;
    grid-template: [row1] "SideSpace-Left Header SideSpace-Right"  $heightHeader
                  [row2] "SideSpace-Left Nav SideSpace-Right"      $heightNavigation
                  [row3] "SideSpace-Left Main SideSpace-Right"     auto
                  [row4] "SideSpace-Left Footer SideSpace-Right"   50px
                      / auto $maxWidth auto;
  }
}